$mainColor: #14213d;
$subColor: #090638;
$fontColor: #eee;
$subbodyColor: #ddd;
$bodyColor: #fff;
$btnColor: #3363ff;
$fgbodyColor: #c2cffc;
$likeButtonColor: #ff9000;

$desktopwidth: 80em;
@mixin desktop {
  @media (min-width: #{$desktopwidth}) {
    @content;
  }
}
